pipeline/vramsNoaaIsdArrayCopy.json
{
	"name": "vramsNoaaIsdArrayCopy",
	"properties": {
		"activities": [
			{
				"name": "SetStationArray",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StationArray",
					"value": {
						"value": "@createArray\n('01106099999',\n'01262099999',\n'01403099999',\n'01427099999',\n'03091099999',\n'03262099999',\n'03302099999',\n'03497099999',\n'03804099999',\n'03953099999',\n'03980099999',\n'06041099999',\n'06081099999',\n'06310099999',\n'07005099999',\n'07150099999',\n'07180099999',\n'10002099999',\n'10147099999',\n'10338099999',\n'10419099999',\n'10427099999',\n'10440099999',\n'10449099999',\n'10453099999',\n'10501099999',\n'10548099999',\n'10549099999',\n'10635099999',\n'10637099999',\n'10856099999',\n'10865099999',\n'12205099999',\n'12375099999',\n'12425099999',\n'13586099999',\n'16120099999',\n'16240099999',\n'26422099999',\n'26447099999',\n'26702099999',\n'33393099999')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ProcessingYear",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetStationArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('StationArray')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Station",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NoaaIsdStationCopy",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"StartYear": {
										"value": "@pipeline().parameters.StartYear",
										"type": "Expression"
									},
									"EndYear": {
										"value": "@pipeline().parameters.EndYear",
										"type": "Expression"
									},
									"StationId": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"StartYear": {
				"type": "int",
				"defaultValue": 2021
			},
			"EndYear": {
				"type": "int",
				"defaultValue": 2021
			}
		},
		"variables": {
			"StationArray": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}